body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-image: url('{{ url_for("static", filename="bg.jpg") }}'); */
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} 

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logo {
    background-color:#a3dfca;
    padding: 20px; /* Ajoute un espace autour du texte */
    border: 2px solid #e73491; /* Ajoute une bordure */
    border-radius: 10px; /* Arrondit les coins */
    color: #e73491;

}

h1 {
    text-align: center;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.submit-button {
    background-color:#a3dfca; /*	 #007bff;*/
    /* color: #fff; */
    color: #e73491;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #a3dfca;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: calc(33.33% - 20px);
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}



/* Navigation Button Styles */
.nav-button {
    background-color: #a3dfca;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 5px; /* Add margin to space out the buttons */

}

/* .nav-button:hover {
    background-color: #0056b3;
    align-items: center;

} */

nav {
    display: flex;
    justify-content: center;
    width: 100%;
}
