<!DOCTYPE html>
<html>
<head>
    <title>Pay</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesLog.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="/index" class="nav-button">Home</a>
            <a href="/show_cart" class="nav-button">Cart</a>
            <a href="#" class="nav-button">Profil</a>
            <a href="/" class="nav-button"> logout </a>
        </nav>
    </header>

    <div class="container">

        <div class="form-box">
        <!-- <form method="post"> -->
            <form  method="post" enctype="multipart/form-data">

                <label for="name">Name :</label>
                <input type="text" id="name" name="name" class="form-input"><br>


                <label for="name">Card :</label>
                <input type="text" id="name" name="name" class="form-input"><br>

                <label for="price">Date :</label>
                <input type="text" id="price" name="price" class="form-input"><br>

        

                <input type="submit" value="Pay" class="submit-button">
            </form>
        </div>
    </div>

</body>
</html>
