<!DOCTYPE html>
<html>
<head>
    <title>Product Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="add-button">
            <a href="/show_cart">Mon Panier </a>
            <a href="/index">Home </a>
        </div>
    </header>
    <div class="container">
        <h1>{{ product.name }}</h1>
        <p>Price : {{ product.price }}€</p>
        <p>Seller : {{ product['client'] }}</p>
        <p>State : {{ product['state'] }}</p>

            {% if product.get('img') %}
                <!-- <img src="{{ url_for('static', filename='uploads/' + product.get('img')) }}" alt="{{ product['img'] }}" width="200"> -->
                <img src="{{ url_for('static', filename='uploads/' + product.get('img')) }}" width="200">
            {% endif %}

        <p> Description : {{ product['comm'] }}</p>
        <p> Brand : {{ product['brand'] }}</p>
        <p> Keywords : {{ product['key'] }}</p>

        <p></p>

        {% if current_user.is_authenticated and current_user.id != product.client %}
        <form action="/add_to_cart" method="post">
            <input type="hidden" name="client" value="{{ client_name }}">
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <input type="submit" value="Add to Cart">
        </form>
        {% endif %}
    
        <!-- Check if the current user is the owner of the product -->
        {% if current_user.is_authenticated and current_user.id == product.client %}
            <a class="edit-button" href="{{ url_for('edit_product', product_id=product.id) }}">Edit</a>
            <a class="delete-button" href="{{ url_for('delete_product', product_id=product.id) }}">Delete</a>
        {% endif %}
    </div>
</body>
</html>



<!-- <!DOCTYPE html>
<html>
<head>
    <title>Product Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>{{ product.name }}</h1>
    <p>Prix : {{ product.price }}€</p>
        {% if current_user.id == product.client %}
        <a href="{{ url_for('edit_product', product_id=product.id) }}">Edit Product</a>
        <form method="POST" action="{{ url_for('delete_product', product_id=product.id) }}">
            <button type="submit">Delete Product</button>
        </form>
    {% endif %}
    
    <a href="{{ url_for('index') }}">Back to Products</a>
</body>
</html> -->




<!-- <!DOCTYPE html>
<html>
<head>
    <title>Product Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>{{ product.name }}</h1>
    <p>Prix : {{ product.price }}€</p>
</body>
</html> -->
